@{
    ViewBag.Title = "HighScores";
}

<h2>High Scores</h2>
<ul>
    <li>
        <a href="@Url.Action("GuessThatNumber", "HighScores")">
            Guess That Number 
        </a>
    </li>
    <li>
        <a href="@Url.Action("Battleship", "HighScores")">
            Battleship
        </a>
    </li>
    <li>
        <a href="@Url.Action("Hangman", "HighScores")">
            Hangman
        </a>
    </li>
    <li>
        <a href="@Url.Action("Trivia", "HighScores")">
            Trivia
        </a>
    </li>
    <li>
        <a href="@Url.Action("CombatSimulator", "HighScores")">
            Combat Simulator
        </a>
    </li>

</ul>