@{
    ViewBag.Title = "Index";
}

<h2>About</h2>
<div class="aboutTab" id="tabs" data-url="@Url.Action("who", "about")"><span><strong>Who</strong></span></div>
<div class="aboutTab" id="tabs" data-url="@Url.Action("what", "about")"><span><strong>What</strong></span></div>
<div class="aboutTab" id="tabs" data-url="@Url.Action("why", "about")"><span><strong>Why</strong></span></div>
<div class="aboutTab" id="tabs" data-url="@Url.Action("how", "about")"><span><strong>How</strong></span></div>
<div class="aboutTab" id="tabs" data-url="@Url.Action("where", "about")"><span><strong>Where</strong></span></div>


<div id="tabcontent">

</div>
