@model IEnumerable<BloodBank.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>

    @foreach (var item in Model)
    {
        <li> @item.Name - @item.PatientBloodGroup-<a href ="@Url.Action("PatientDetails", "Patient",new {id= @item.PatientID})">Details</a>-<a href ="@Url.Action("PatientEdit", "Patient", new {id= @item.PatientID})">Edit</a></li>
    }
         
</ul>