<!DOCTYPE html>
<html>
<head>
    <h1>Week 6 Coding Challenge</h1>
    &nbsp; &nbsp;
<div class="pageLink" id="page" data-url="@Url.Action("Index","Home")"><span><strong>Home</strong></span></div>
       &nbsp; &nbsp;
<div class="pageLink" id="tabs" data-url="@Url.Action("Index", "About")"><span><strong>About</strong></span></div>
    &nbsp; &nbsp;
<div class="pageLink" id="tabs" data-url="@Url.Action("Index", "Work")"><span><strong>Work</strong></span></div>
    &nbsp; &nbsp;
<div class="pageLink" id="tabs" data-url="@Url.Action("Index", "Contact")"><span><strong>Contact</strong></span></div>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    <script src="/scripts/main.js"></script>
    @RenderSection("scripts", required: false)
    
</body>
    <footer>
    <p> Copyright 2014 Matt Fisher &nbsp; &nbsp &nbsp; &nbsp &nbsp; &nbsp </p>
        <div class="footerNav">
        <a href="@Url.Action("Index", "About")">About Me</a> &nbsp; <a href="@Url.Action("Index", "Work")">Work</a> &nbsp; <a href="@Url.Action("Index", "Contact")">Contact</a>
        </div>
    </footer>
</html>