@model MvcPractice.Models.ContactForm

@{
    ViewBag.Title = "Edit Contact Form";
}

<h2>ContactForm</h2>
<form>
    <span>
    @Html.HiddenFor(x => x.ContactFormID)
        </span>
<div>
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    @Html.ValidationMessageFor(x => x.Name)
</div>

<div>
    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)
</div>

<div>
    @Html.LabelFor(x => x.Message)
    @Html.TextAreaFor(x => x.Message)
    @Html.ValidationMessageFor(x => x.Message)
</div>
</form>
@Scripts.Render("~/bundles/jqueryval")
<input type="submit" value="Submit" />